#back{
    position: absolute;
    top: 15px;
    left: 30px;
    z-index: 1;
}
#back:hover{
    transform: scale(1.1);
}
.fa-arrow-left{
    font-size: 4em;
    color: rgb(235,5,19);
}
.contact {
    background: url(IMG_7903.JPG);
    background-size: cover;
    background-position: center;
    height: 400px;
    position: relative;
    z-index: 0;
}

.contact::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 400px;
    background: rgba(49, 49, 160, 0.4);
    z-index: 1;

}


.partie1 {
    padding-top: 140px;
    text-align: center;  
    position: relative;
    z-index: 2;
}


.partie1 h2 {
    font-size: 40;
    color: white;
    margin-bottom: 20px;
  
}

.partie1 p {
    color: white;
    font-size: 40px;
    width: 60%;
    margin: auto;
    
}

.container {
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
    background-color: rgb(46, 46, 131);
    height: 200px;
}

.localisation {
    border-left: 2px solid white;
    text-align: center;
}

.localisation i {
    margin-left: 80px;
    padding-left: 10px;
    font-size: 40px;
    color: white;
    padding-bottom: 10px;

}

.localisation h3 {
    margin-left: 80px;
    font-size: 20px;
    color: rgb(235, 5, 19);
    margin-bottom: 0px;
}

.localisation p {
    font-size: 15px;
    color: white;
    margin-bottom: 15px;
    margin-left: 60px;
    width: 350px;
}

.Numero {
    width: 800px;
    border-left: 2px solid white;
    border-right: 2px solid white;
    text-align: center;
    max-width: 300px;
}

.Numero i {
    font-size: 40px;
    color: white;
    padding-bottom: 10px;
}

.Numero h3 {
    font-size: 20px;
    color: rgb(235, 5, 19);
    padding-top: 0px;
}

.Numero p {
    font-size: 15px;
    color: white;
    margin-bottom: 15px;
    padding-top: 4px;
}

.email {
    text-align: center;
    max-width: 300px;
}

.email i {
    font-size: 40px;
    color: white;
}
.email h3 {
    font-size: 20px;
    color: rgb(235, 5, 19);
    padding-top: 0px;
    margin-bottom: 10px;
}

.email p {
    font-size: 20px;
    color: white;
    margin-bottom: 15px;
    padding-top: 0px;
}

.boogaloo-regular {
  font-family: "Boogaloo", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.logo {
    color: white;
    
}

.logo img {
    animation-name: boum;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    border-radius: 50%;
    height: 180px;
    align-items: center;
    font-size: 18px;
    max-width: 300px;
}

.logo p {
    margin-top: 4px;
    font-size: 18px;
}

@keyframes boum {
    0% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.8);
    }
}