*{
    margin: 0;
    padding: 0;
}
*promo*/
.coca{
     margin:10px 15px 30px 15px ;
     background-color: rgba(244, 238, 238, 0.962);
     border:5px solid blue;
      box-shadow: 0 0 20px rgb(58, 58, 141);
    border-radius: 30px;
}
.cocaheader a:hover{
    background-color: rgb(235, 5, 19);
    border-radius: 50%;
}
.cocaheader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.promotion  input[type="checkbox"]{
    display: none;
}
.promotion input[type="checkbox"]:checked ~ .promotioncontent {
    display: flex;
}
.pr input{
    display: none;
}
.cocaheader a{
    margin-right: 20px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 4px solid blue;
}
.cocaheader i{
    font-size: 2em;
    font-weight: 800;
    color: white;
     -webkit-text-stroke:2px blue;
    text-shadow: 1px 1px 7px black;
    padding-top: 5px;

}
.promoinsider{
    margin: 10px 20px ;
    overflow: hidden;
}
#arrow{
    scroll-margin-top: -15vw;
}
.cocaheader a:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.1s ease-out;
}
.inside{
    position: relative;
}
.inside label p{
    transition: transform 0.3s ease-out;
}
.inside label p:hover{
    transform: scale(1.5);
}
.inside .newbadge{
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    border: none;
    box-shadow: none;
}
.promotion p{
     color: white;
     font-size: 26px;
     -webkit-text-stroke:1px blue;
    text-shadow: 1px 1px 7px black;
    text-align: center;
}
hr{
    height: 2px;
    width: 85vw;
    margin-left: 80px;
    background-color: blue;
}
h3{
    font-size: 2em;
    text-align: center;
    font-weight: 800;
    color: white;
    padding-left: 20px;
    font-family: Titan One,cursive;
    margin-left: 15px;
    -webkit-text-stroke:2px blue;
    text-shadow: 1px 1px 7px black;

}
.promotion{
    display: flex;
    margin:0px 0 10px 20px;
    width: 200%;
    gap: 30px;  
    border-radius: 20px;
    animation: scroll 18s   linear infinite;  
}
.promotion:hover{
    animation-play-state: paused;
    z-index: 999;
}
.vitre{
    width: 96.6vw;
    height: 20vw;
    position: absolute;
    background-color: #ffffffc9;
    border-radius: 20px;
    z-index: 999;
    opacity: 0.3;
}
.vitre:hover{
    z-index: 0;
}
@keyframes scroll {
    from{ transform: translateX(0);}
    to {transform: translateX(-86%);}
    
}
.promoinsider img{
    width: 10vw;
    border-radius: 50%;
    aspect-ratio: 1/1;
    border:5px solid blue;
    margin-top: 10px;
    box-shadow: 0 0 10px black;
    
}
.promotioncontent{
    display: none;
    align-items: center;
    position: absolute;
    width: 31vw;
    height: 11vw;
    box-shadow: 0 0 10px black;
    border-radius: 30px;
    opacity: 0.9;
    top: 8px;
    border: 5px solid blue;
    z-index: 900;
}
.img{
    width: 11vw;
    aspect-ratio: 1/1;
    opacity: 0;
}
.p{
    width: 20vw;
    height: 11vw;
    background-color: rgb(46, 46, 131);
    border-radius: 20px;
}
.promotioncontent .p p{
    text-wrap: wrap;
    word-break: break-word;
    white-space: normal;
}
.promotioncontent p{
    color:rgb(235, 5, 19);
    font-size: 1.7em;
    -webkit-text-stroke:0px blue;
    text-shadow: none;
}
.promotioncontent .ingredient{
    color:white;
    font-size: 1.2em;
}
#pizza1:checked ~ #PIZZA{
    display: flex;
}
h5{
    text-align: center;
    font-size: 1.6em;
    color: white;

}