* {
    margin: 0;
}
     /*background: linear-gradient(170deg,rgb(46,46,131)85%,rgb(235,5,19)15%);*/
html{
    scroll-behavior: smooth;
}
body{
    
     background:rgba(244, 238, 238, 0.962);
     cursor: url("badge/burger-cursor-48.png") 16 16,auto;
}
/*#e3ecf8;*/

@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Courgette&family=Kaushan+Script&family=Knewave&family=Titan+One&display=swap');

@font-face {
    font-family: 'caveat';
    src: url(font/CaveatBrush-Regular.ttf) format('truetype');
}
p{
    color: white;
    font-size: 1.5em;
    font-family: caveat;
    text-wrap: wrap;
}s
 input[type="checkbox"]{
    display: none;
}
header{
    position: fixed;
    top: 0;
    z-index: 600;
}

.loginmodal{
    display:none ;
    width:25vw ;
    border-radius: 30px;
}
.close{width: 5vw;position: absolute;}

#loager:checked ~ #login{
    display: block;
}
/*navbar*/
.headernav {
    background-color: rgb(46, 46, 131);
    display: flex;
    position: fixed;
    top: 0;
    padding-left: 70px;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    width: 100%;
    box-shadow: 0 0 10px white;
}

#logo {
    width: min(10vw, 64px);
}

.headernav button {
    background-color: rgb(46, 46, 131);
    padding-block: 0.5rem;
    border-radius: 50px;
    border: none;
    font-size: max(1.5vw, 0.75rem);
    width: 16vw;
    transition: background-color 0.5s ease-out;
}

.headernav ul {
    display: flex;
    align-items: center;
    gap: 2vw;
    justify-content: center;
    padding-block: 10px;
}
.fa-house, .fa-newspaper, .fa-magnifying-glass{
    color: white;
    padding-left: 10px;
    font-size: 20px;
}
.headernav ul li {
    list-style: none;
}
.headernav ul li a{
    text-decoration: none;
    color: white;
    font-family: caveat ;
    font-size: 1.5rem;
}
.headernav button:hover {
    cursor: pointer;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.2), 5px -5px 5px rgba(0 0, 0, 0.3);
}

.caveat-brush-regular {
    font-family: "Caveat Brush", cursive;
    font-weight: 400;
    font-style: normal;
    padding: 0;
    margin: 0;
}
.login{
    font-family: caveat;
    color: white;
     display: flex;
    align-items: center;
    font-size: 2em;
    padding-left: 5px;
}
.login i{
    width: 50px;
}
.fa-circle-user{
    color: white;
    font-size: 2em;
    padding-left: 20px;
}
/*noel*/
.noel{
    display: flex;
    justify-content: center;
}
.deco{
    display: flex;
    position: fixed;
    top:5vw;
    z-index:0;
}
.deco img{
    width: 33vw;
}
#christmas{
    width: 18vw;
    position: absolute;
    z-index: 200;
}
.noelcontent{
    display: flex;
    margin-top: 5vw;
    flex-direction: column;
    align-items: center;
    background-image: url(photo/background.png);

    background-size: cover;
    background-repeat: no-repeat;
    background-position:  center;
    padding-bottom: 50px;
    
    border-radius:0 0 50px 50px;
}
.cadeaux img{
    width: 10vw;
    position: absolute;
    top: 70vh;
    right: 15vw;
}
#couvrecad{
    z-index:2;
    transition: transform 0.5s ease;
}
#couvrecad:hover{
    transform: rotateZ(-5deg) translateY(-50px) translateX(-20px);
}
.noelcontent .acheter{
   margin-right: 35%;
}
.acheter a{
    text-decoration: none;
    color: white;
}
#noelpromo{
    transform: rotatez(90deg);
    width: 5rem;
    position: absolute;
    top: 40vw;
    left: 20%;
}
.noelheader{
    display: flex;
}
.noelheader img{
    width: 3.5em;
}
#gift, #gift1{
    height: 15vw;
    transform: rotateZ(5deg);
}
#gift1{
    animation: gift1 2s alternate infinite;
    animation-delay: 1s;
}
#gift{
    animation: gift 2s infinite alternate;
}
@keyframes gift1 {
    from{transform: translateY(0px) rotateZ(0deg);}
    to{transform: translateY(20px) rotateZ(5deg);}
}
@keyframes gift {
    from{transform: translateY(0px) rotateZ(0deg);}
    to{transform: translateY(20px) rotateZ(-5deg);}
}
img.tree{
    height: 35vw;
}
    /*logincontent*/
.logincontent{
    position: fixed;
    top: 10vh;
    right: 40vw;
    display: flex;
    flex-direction: column;
    background-color:rgb(46,46,131);
    box-shadow: 0 0 10px white;
    border: 5px solid rgb(235,5,19);
    border-radius: 30px;
    z-index: 999;
}
.loginlogo{
    width: 25vw;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}
.loginlogo img{
    width: 50%;
    border-radius: 50%;
    

}
.loginmodal form{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}
form input{
    width: 20vw;
    height: 18px;
    margin-block: 5px 13px;
    border-radius: 20px;
}
.submit{
    color: white;
    background-color: rgb(235,5,19);
    width: 10vw;
    padding-block: 5px 10px;
    border-radius: 20px;
    border: none;
    box-shadow: 0 0 10px white;
}
form label{
    color: white;
}
.signup {
    color: white;
}
.signup a{
    color: white;
    margin-left: 10px;
    font-weight: 600;
}
.loginicon{
    display: flex;
    justify-content: space-evenly;
    width: 25vw;
    margin-block: 15px 0;
}
.loginicon i{
    font-size: 2em;
    color: rgb(235,5,19);

}
.closebutton{
    font-size: 3em;
    font-weight: 800;
    color: rgb(235,5,19);
    margin-left: 15px;
}
/*header*/
    .first div img{
    width: 20vw;
    border: 5px solid blue;
}
.first{
    display: flex;
    gap: 10px;
    border: 2px solid blue;
    background-color: rgb(56, 151, 234);
    animation: scroll1 28s linear infinite;
    width: 200%;
    margin-top: 10px;
}
.one{
    overflow: hidden;
    margin-bottom:5vw;
    width: 90vw;
    margin-left: 5vw;
}
@keyframes scroll1 {
    from{ transform: translateX(0);}
    to {transform: translateX(-63.2%);}
    
}
.first:hover{
    animation-play-state: paused;
}
.oneheader{
    display: flex;
    justify-content: space-evenly;
}
.first div{
    width: 20vw;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
    display: flex;
}
.first div:hover{
    transition: transform 0.4s ease;
    animation: shake 0.5s ;
}
@keyframes shake {
    0%{transform: rotateZ(0deg) scale(1.1);}
    25%{transform: rotateZ(-5deg);}
    50%{transform: rotateZ(0deg);}
    75%{transform: rotateZ(5deg);}
    100%{transform: rotateZ(0deg);}
    
}
/*header*/
.headerimg{
    width: 12vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
    position: fixed;
    z-index: 100;
    transition: transform 1s ;
    object-fit: cover;
}
.headerimg img{
    overflow: hidden;
    width: 12vw;
    position: absolute;
    border-radius: 50%;
    z-index: 100;
}
.headerimg:hover{
    transform: rotateY(360deg);
}
/*burgerbar*/
#menutoggle{
    display: none;
}
.menubutton span{
    width: 45px;
    height: 6px;
    background:black;
    margin:2px;
    z-index: 200;
}
#menutoggle:checked ~ .menubutton span{
    background-color: white;
}
.menubutton{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 20px;
    right: 10px;
    z-index: 200;
}
.burgerbar{
    position: fixed;
    top: 20px;
    right: 5px;
}

.menu{
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 10vw;
    height: 55vh;
    justify-content: space-evenly;
    align-items: center;
    background:rgb(46,46,131);
    padding-top: 20px;
    position: fixed;
    top: 15px;
    right: 5px;
    z-index:20;
    border-radius: 10px;
    box-shadow: 0 0 20px black;
}
.menu a {
    list-style: none;
    text-decoration: none;
    color: aliceblue;
    font-weight: bolder;
}
#menutoggle:checked ~ .menu{
    display: flex;
}
/*main*/
/*promo*/
.coca{
     margin:120px 15px 30px 4.5vw ;
     background-color: rgba(244, 238, 238, 0.962);
     border:5px solid blue;
      box-shadow: 0 0 20px rgb(58, 58, 141);
    border-radius: 30px;
    width: 90vw;
}
.cocaheader a:hover{
    background-color: rgb(235, 5, 19);
    border-radius: 50%;
}
.cocaheader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:linear-gradient(120deg,blue,red,blue,red);
    background-size: 400% 100%;
    animation: guirlande 7s linear infinite;
    border-radius: 20px;
}


@keyframes guirlande {
    0%{background-position: 0% 0;}
    100%{background-position: 100% 0;}
}
.inside img:hover{
    transform: scale(1.1);
}
.promotion  input[type="checkbox"]{
    display: none;
}
.promotion input[type="checkbox"]:checked ~ .promotioncontent {
    display: flex;
}
.pr input{
    display: none;
}
.cocaheader a{
    margin-right: 20px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 4px solid blue;
}
.cocaheader i{
    font-size: 2em;
    font-weight: 800;
    color: white;
     -webkit-text-stroke:2px blue;
    text-shadow: 1px 1px 7px black;
    padding-top: 5px;

}
.promoinsider{
    margin: 10px 20px ;
    overflow: hidden;
}
#arrow{
    scroll-margin-top:12vw;
}
.cocaheader a:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 0.1s ease-out;
}
.inside{
    position: relative;
}
.inside label p{
    transition: transform 0.3s ease-out;
}
.inside label p:hover{
    transform: scale(1.5);
}
.inside .newbadge{
    position: absolute;
    right: 0;
    top: 0;
    width: 70px;
    border: none;
    box-shadow: none;
}
#headerimg{
    width: 40vw;
    
    position: fixed;
    z-index: 999;
}
.promotion p{
     color: white;
     font-size: 26px;
     -webkit-text-stroke:1px blue;
    text-shadow: 1px 1px 7px black;
    text-align: center;
}
.promotion p:hover{
    color: rgb(46, 46, 131);
}
hr{
    height: 2px;
    width: 85vw;
    margin-left: 25px;
    background-color: blue;
}
#blue{
    color: rgb(46, 46, 131);
    
}
.noelcontent{
    display: none;
}
#red{
    color: rgb(235, 5, 19);
}
h3{
    font-size: 2rem;
    text-align: center;
    font-weight: 800;
    color: white;
    padding-left: 20px;
    margin-right: 35px;
    font-family: Titan One,cursive;
    margin-left: 15px;
    -webkit-text-stroke:2px rgb(46, 46, 131);
    text-shadow: 1px 1px 15px black;

}

#log a{
    color: white;
    font-family: caveat;
    font-size: 1.5em;
    margin-left: 10px;
    text-decoration: none
}
#log{
    margin-right: 30px;  
    padding: 5px 10px;
    display: flex;
    gap: 5px;
}
#log div{
    width: 80px;
}
#log div:hover{
    transform: scale(1.1);
}
#lil{
    border-radius: 50px 0 0 50px;
    background-color:rgb(235, 5, 19);
 
}
#lol{
    border-radius: 0 50px 50px 0;
    background-color:rgb(235, 5, 19);
}
.promotion{
    display: flex;
    margin:0px 0 10px 20px;
    width: 200%;
    gap: 30px;  
    border-radius: 20px;
    animation: scroll 25s   linear infinite;  
}
.promotion:hover{
    animation-play-state: paused;
    z-index: 999;
}
.vitre{
    width: 96.6vw;
    height: 20vw;
    position: absolute;
    background-color: #ffffffc9;
    border-radius: 20px;
    z-index: 999;
    opacity: 0.3;
}
.vitre:hover{
    z-index: 0;
}
@keyframes scroll {
    from{ transform: translateX(0);}
    to {transform: translateX(-86%);}
    
}
.promoinsider img{
    width: 10vw;
    border-radius: 50%;
    aspect-ratio: 1/1;
    border:5px solid blue;
    margin-top: 10px;
    box-shadow: 0 0 10px black;
    
}
.promotioncontent{
    display: none;
    align-items: center;
    position: absolute;
    width: 31vw;
    height: 11vw;
    box-shadow: 0 0 10px black;
    border-radius: 30px;
    opacity: 0.9;
    top: 8px;
    border: 5px solid blue;
    z-index: 900;
}
.img{
    width: 11vw;
    aspect-ratio: 1/1;
    opacity: 0;
}
.p{
    width: 20vw;
    height: 11vw;
    background-color: rgb(46, 46, 131);
    border-radius: 20px;
}
.promotioncontent .p p{
    text-wrap: wrap;
    word-break: break-word;
    white-space: normal;
}
.promotioncontent p{
    color:rgb(235, 5, 19);
    font-size: 1.7em;
    -webkit-text-stroke:0px blue;
    text-shadow: none;
}
.promotioncontent .ingredient{
    color:white;
    font-size: 1.2em;
}
#pizza1:checked ~ #PIZZA{
    display: flex;
}
h5{
    text-align: center;
    font-size: 1.6em;
    color: white;

}
/*navbar*/
.Plats li{
    list-style: none;
    padding: 0 12px 0 12px;
}

.Plats ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    margin: 0;
}

.Plats{
    display: flex;
    border-bottom: 3px solid whitesmoke;
    border-radius: 0 50px 0 0;
    box-shadow: 0 0 20px black;
    width: 80vw;
    align-items: center;
    height: 15vh;
    background-color: rgb(46,46,131);
    margin: 0;
    z-index: 2;
}
h2{
    height: 5vh;
    color: azure;
    font-size: 3em;
    font-family: caveat;
    padding-left: 10px;
    padding-bottom: 20px;
}
.shopping{
    display: flex;
    align-items: center;
    position: absolute;
    right: 10px;
}
.shopping i{
    font-size: 4em;
    position: absolute;
    color: rgb(235,5,19);
    right: 5vw;
    z-index: 0;
}
.shopping i:hover{
    cursor: pointer;
    transform: scale(1.2);
    transition: transform 0.1s ease-out;
}
/*plat onglet*/
.tabs{
    background-color:rgb(46,46,131);
}
.tabs label{
    border-radius: 0 10px 0 0 ;
    padding-block: 5vh;
    color: white;
    font-family: Titan One, cursive;
    text-decoration: none;
    font-size: 1.4em;
    font-weight: 200;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: background 0.3s;
}
.tabs label:hover{
    color: rgb(235,5,19);
}
.tabs input[type="radio"]{
    display: none;
}
.tabs input[type="radio"]:checked + label{
    color: rgb(235,5,19);
    box-shadow: 0 0 10px black;
}
#tab1:checked ~ .Plats .tabs label[for="tab1"],
#tab2:checked ~ .Plats .tabs label[for="tab2"],
#tab3:checked ~ .Plats .tabs label[for="tab3"],
#tab4:checked ~ .Plats .tabs label[for="tab4"],
#tab5:checked ~ .Plats .tabs label[for="tab5"]{
    color: rgb(235,5,19);
    box-shadow:
     0 -4px 5px black,
     4px 0 5px black,
     -4px 0 5px black;
    
}
.tabs label:active{
    transform: translateY(0);
    box-shadow: 0 4px 8px white;
}

/*onglet content*/
.platcontent{
    display: none; /* hide all tab contents by default */
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    background:rgb(46, 46, 131);
    padding: 10px 0 40px 0;
    margin-bottom: 30px;
    box-shadow: 0 0 5px black;
    height: 110vh;

}
.prixreduc{
    color: rgb(235, 5, 19);
    font-size: 1em;
}
#Pizza{
    height: 230vh;
}

#tab1:checked ~ #Pizza,
#tab2:checked ~ #Burger,
#tab3:checked ~ #Tacos,
#tab4:checked ~ #Panini,
#tab5:checked ~ #Sandwich{
    display: flex !important; /* show matching content as flex (matches .platcontent layout) */
}
.platcontent div{
    display: flex;
    margin-left: 10px;
}
.achat{
    gap: 15px;
}
.presentation p{
    text-wrap: wrap;
}
.ingredient{
    font-size: 14px;
}
.prix{
    display: block;
    font-size: 2em;
    color: white;
     font-family:caveat ;
}
.platcontent div img{
    width: 15vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-shadow: 0 0 5px white;
}
h4{
    font-size: 2em;
    text-decoration: underline;
    text-align: center;
    color: white;
    font-family: caveat;
    text-wrap: nowrap;
    margin-block: 0;
}
.presentation{
    display: flex;
    flex-direction: column;
    width: 18vw;
}
/*button acheter*/
.acheter{
        color: white;
        background-color:rgb(235,5,19);
        box-shadow: 0 0 10px white;
        border-radius: 30px;
        border: none;
        font-size: 1.5em;
        font-family: caveat;
        padding:5px 15px;
        align-self: end;
        display: flex;
        align-items: center;
    }
.acheter:hover{
    transform: scale(1.1);
}
.acheter i{
    border-right: 2px solid white;
}
/*star*/
.rating{
    direction: rtl;
    font-size: 2.7rem;
    unicode-bidi: bidi-override;
    display: flex;
    justify-content: center;
}
.rating input{
    display: none;
}
.rating label{
    color: lightgray;
    cursor: pointer;
    transition: color 0.2s;
}
.rating input:checked ~ label{
    color: yellow;
}
.rating label:hover, .rating label:hover ~ label{
    color:yellow;
}
/*badge*/
.new{
    border-radius: 50%;
}
.new img{
    width: 15vw;
    aspect-ratio: 1/1;
    border-radius: 50%;
}
.imageproduit{
    position: relative;
    width: 16vw;
    aspect-ratio: 1/1;
}
.imageproduit .badge{
    position: absolute;
    top: 0;
    right: 0;
    width: 100px !important;
    box-shadow: none;
}

/*Pizza*/
/**
*bgc blanc fond menu bleu
*
*
*
**/