* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    color: white;
}

.boogaloo-regular {
    font-family: "Boogaloo", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: url("badge/cursor.png") 16 16,auto;
}

header {
    background-color: rgb(46, 46, 131);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    width: 100vw;
    padding-block: 0.5rem;
    position: sticky;
    top: 0;
    z-index: 1;
}

#logo {
    width: min(10vw, 64px);
}

nav button {
    background-color: transparent;
    box-shadow: none;
    padding-block: 1rem;
    border: none;
    border-radius: 15px;
    font-size: max(1.2vw, 0.75rem);
    width: 11vw;
    transition: box-shadow 0.1s ease-in-out;
}

nav {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 1vw;
    justify-content: space-evenly;
}

nav ul li {
    list-style: none;
}

nav button:hover, .utility-button:hover {
    cursor: pointer;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.2), 5px -5px 5px rgba(0 0, 0, 0.3);
}

main {
    min-height: 100vh;
    width: 90vw;
    z-index: 0;
}

.hero-content {
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    height: 30rem;
    text-align: center;
    padding: 1rem;
    gap: 2rem;
    margin-inline: auto;
    position: relative;
    border-radius: 15px;
    box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.2);
    z-index: 10;
}

.hero-content button {
    backdrop-filter: blur(5px);
    box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.2);
    transition: transform 0.5s ease-out;
}

.hero-content button:hover {
    transform: scale(1.05);
}

#hero {
    position: relative;
    margin-top: 2rem;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 15px;
}

#slide1, #slide2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: bottom;
    border-radius: 15px;
    animation: slideAnimation 25s infinite;
}

#slide1 {
    background-image: url('images/tacoshero.jpg');
    animation-delay: 0s;
}

#slide2 {
    background-image: url('images/pizzahero.jpg');
    animation-delay: 12.5s;
}

h1 {
    font-size: min(3vw, 32px);
    background-image: radial-gradient(circle, rgba(46, 46, 131, 0.2) 80%, rgba(46, 46, 131, 0.25));
    border-radius: 15px;
    padding: 1rem;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 0 15px rgba(255, 255, 255, 0.2);
}

button {
    background-color: rgb(235, 5, 19, 0.5);
    border-radius: 15px;
    padding: 1rem;
    border: none;
}

.search {
    display: flex;
    align-items: center;
    width: 60%;
    padding-left: 1rem;
    background-color: rgba(46, 46, 131, 0.5);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2);
    margin-top: 1rem;
    border: 1px solid transparent;
    transition: border 0.5s ease-in-out;
}

.search button {
    background-color: transparent;
    font-size: min(2vw, 20px);
    background-color: transparent;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid transparent;
    transition: border 0.5s ease-in-out;
}

.search button:hover {
    border: 1px solid rgba(255, 255, 255, 0.6);
}

.search:focus-within {
    border: 1px solid rgba(255, 255, 255, 0.6);
}

.search:hover {
    cursor: pointer;
}

#search-bar {
    width: 60%;
    padding: 0.75rem;
    border-radius: 15px;
    border: none;
    font-size: min(2vw, 20px);
    background-color: transparent;
    width: 100%;
}

#search-bar:focus {
    outline: none;
}

#search-bar::placeholder {
    color: white;
}

#proof {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 0.75rem;
    gap: 0.5vw;
    margin-top: 4rem;
    border-radius: 15px;
}

button:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
}

#menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(46, 46, 131);
    text-align: center;
    margin-block: 2rem;
    border-radius: 1rem;
    padding: 2rem;
    width: 100%;
}

#menu h2 {
    background-color: rgba(235, 5, 19, 0.8);
    padding-inline: 2rem;
    padding-block: 1rem;
    border-radius: 15px;
}

.menu-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin-block: 3rem;
    width: 100%;
}

.elements {
    background-color: rgba(235, 5, 19, 0.8);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    justify-self: center;
    font-size: 2rem;
    transition: box-shadow 0.3s ease-out, transform 0.3s ease-out;
}

.elements:hover {
    box-shadow: 5px -5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transform: scale(1.05);
}

.elements img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px 10px 0 0;
}

#nouveautés {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(46, 46, 131);
    text-align: center;
    margin-block: 2rem;
    padding: 2rem;
    width: 100%;
    border-radius: 1rem;
}

#nouveautés h2 {
    background-color: rgba(235, 5, 19, 0.8);
    padding-inline: 2rem;
    padding-block: 1rem;
    border-radius: 15px;
}

.item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    padding: 1rem;
    gap: 1rem;
    height: 100%;
    margin-top: 2rem;
    width: 100%;
    overflow: hidden;
}

.item img {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
}

.item div {
    background-color: rgba(235, 5, 19, 0.8);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5rem;
    margin-top: .25rem;
    border-radius: 10px;
    height: 100%;
    transition: box-shadow 0.3s ease-out, transform 0.3s ease-out;
}

.item div:hover {
    box-shadow: 5px -5px 15px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transform: scale(1.02);
}

footer {
    background-color: rgb(46, 46, 131);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
    padding: 1rem;
    font-family: "Boogaloo", sans-serif;
}

h3 {
    text-decoration: underline;
}

@keyframes slideAnimation {
    0% { opacity: 0; }
    5% { opacity: 1; }
    45% { opacity: 1; }
    50% { opacity: 1; }
    55% { opacity: 0; }
    100% { opacity: 0; }
}